{% extends 'base.html' %}

{% block title %}
Blog Posts
{% endblock %}

{% block content %}
<h1 style="margin-top: 25px; margin-left: 25px;">{% if post_tag %}
    Posts with {{post_tag}} tag:
{% else %}
    Posts:
{% endif %}</h1>
<div class="posts">
    {% for post in posts %}
    <div class="post">
        <a href="{% url 'post_detail' post.id %}">
            <h2>{{ post.title }}</h2>
            <img src="/media/{{ post.image }}" alt="{{ post.title }}">
        </a>
        <h4>Tags: {% for tag in post.tags.all %}
            <a href="{% url 'post_tag' tag %}">{{tag}}</a>
        {% endfor %}</h4>
        <p class="author">Author: {{ post.author }}</p>
        <p class="publish-date">Published: {{ post.publish }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}