{% extends 'base.html' %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}
<article>
    <h2>{{ post.title }}</h2>
    <img src="/media/{{ post.image }}" alt="{{ post.title }}">
    <p class="meta">Published on {{ post.publish_date|date:"F d, Y" }} by {{ post.author }}</p>
    <div class="content">
        {{ post.body|safe }}
    </div>
    <br>
    <p class="count">{{post.likes.count}}</p>
    <a href="#" data-id="{{post.id}}" data-action="{% if request.user in post.likes %}unlike{% else %}like{% endif %}"
        class="like">{% if request.user in post.likes %}
            Unlike
        {% else %}
            like
        {% endif %}</a>
</article>
{% endblock %}

{% block domready %}
var url = "{% url 'like' %}";
var options = {
method: 'POST',
headers: {'X-CSRFToken': csrftoken},
mode: 'same-origin'
}
document.querySelector('a.like')
.addEventListener('click', function(e){
e.preventDefault();
var likeButton = this;

var formData = new FormData();
formData.append('id',likeButton.dataset.id);
formData.append('action',likeButton.dataset.action);
options['body'] = formData;

fetch(url, options)
.then(response => response.json())
.then(data => {
if (data['status'] === 'ok'){
var previousAction = likeButton.dataset.action;

var action = previousAction === 'like' ? 'unlike' : 'like';
likeButton.dataset.action = action;
likeButton.innerHTML = action;

var likeCount = document.querySelector('p.count');
var totalLikes = parseInt(likeCount.innerHTML);
likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;
}
})
});
{% endblock %}